/* fonts */
/* @font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 200;
} */
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}
/* @font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
} */
/* 
colors
logo-orang  #ff9500;
logo-gray   #777;
nav-blue    #7fc2f7;
link        #146eb4;
contact     #2cdd98;
connect     #ff4f81;
address     #3369e6;
footer `    #212121;

*/
/* comon */
:root {
  box-sizing: border-box;
  font-size: 14px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.75;
}
h2 {
  font-size: 1.75em;
}
a {
  text-decoration: none;
}
.separator {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 1.5em;
}
.separator-line {
  display: inline-block;
  width: 40px;
  height: 0;
  border: 1px solid #000;
  margin: 7px;
}
.separator-box {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  transform: rotate(45deg);
}

/* header */
.page-header {
  text-align: center;
  padding-block-start: 2em;
}
.brand-logo {
  text-transform: uppercase;
  font-weight: 900;
  color: #777;
  font-size: 1.5em;
}
.brand-logo span {
  color: #ff9500;
  border: 5px solid #777;
  border-right: none;
  display: inline-block;
  padding: 2px 0 2px 10px;
}
.page-nav {
  margin: 1.5em;
  padding-block: 0.5em;
  background-color: #7fc2f7;
  text-align: center;
}
.page-nav a {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  padding-block: 0.5em;
}
.page-nav a:hover {
  color: #ff9500;
}

.banner {
  height: 300px;
  background: url(assets/images/banner.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  text-transform: uppercase;
  color: #fff;
  line-height: 1;
}
.btn-cta {
  margin-block-start: 1.5em;
  background-color: #146eb4;
  color: #fff;
  padding: 0.5em 1.5em;
  border-radius: 1em;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}
.btn-cta:hover {
  color: #ff9500;
}

/* main */

.section-title {
  text-align: center;
  text-transform: capitalize;
}
.subtitle {
  color: #146eb4;
  margin-block-end: 1.5em;
  text-transform: capitalize;
}

/* about */
.about {
  padding: 2em;
}
.about-list {
  margin-block: 2em;
  padding-inline-start: 1em;
  list-style-image: url("assets/images/arrow_bullet.png");
}
.about-list li {
  margin-block-end: 1em;
  color: #777;
}
.about-img {
  display: block;
  margin-block-end: 1.5em;
  margin-inline: auto;
  text-transform: capitalize;
}

/* testimonials */
.testimonials {
  padding: 2em 2em 4em 2em;
}
.client {
  padding: 2em 1em;
  margin-block-end: 1em;
  background-color: #7fc2f7;
}
.client-info {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-block-end: 0.5em;
  font-weight: bold;
}
.client-info p {
  font-weight: bold;
}
.client-info img {
  border: 2px solid #7fc2f7;
  border-radius: 50%;
  outline: 2px solid #fff;
}
.client-info div {
  padding-inline-start: 1.5em;
}
.client-info .fa {
  color: #fff;
}
.client-test {
  color: #fff;
}

/* info */
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex: 1 1 50%;
  height: 200px;
  padding: 1em;
  text-align: center;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.card h4 {
  text-transform: uppercase;
  margin-block-end: 0.5em;
}
.card a {
  color: #fff;
}
.card a:hover {
  color: #ff9500;
}
.info {
  background-color: #2cdd98;
}
.connect {
  background-color: #ff4f81;
}
.connect ul {
  display: flex;
}
.connect a {
  display: block;
  padding: 0.5em 1em;
}
.address {
  background-color: #3369e6;
}
.home {
  background-color: #7fc2f7;
  padding: 0.5em;
}

/* map */
.map iframe {
  width: 100%;
}
/* contact form */
.contact {
  padding: 3em 1em;
}
.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-block-end: 1em;
  padding: 1em;
  border: 1px solid #777;
  color: #777;
  font-family: Roboto;
  font-size: 0.875em;
}
.form-submit {
  padding: 0.5em 2em;
  background-color: #ff9500;
  color: #fff;
  border: none;
  cursor: pointer;
}
.form-submit:hover {
  background-color: #7fc2f7;
}
/* footer */
.page-footer {
  background-color: #212121;
  padding: 3em 2em;
  font-size: 0.875em;
}
.footer-nav {
  display: flex;
  justify-content: center;
  margin-block-end: 1em;
}
.footer-nav li {
  flex: 1;
}
.footer-nav a {
  display: block;
  padding: 0.5em;
  color: #fff;
}
.footer-nav a:hover {
  color: #ff9500;
}
.copy {
  text-align: center;
  color: #fff;
}
